.gomment {
    width: 100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial;
}

.gomment > .gomment-title {
    padding: 10px;
    border-bottom: 1px solid #bebebe;
    font-size: 15px;
    color: black;
    font-weight: 700;
}

.gomment > .gomment-input-section {
    padding: 20px;
    border-bottom: 1px solid #bebebe;
}

.gomment > .gomment-input-section > input {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 5px 0px 5px 0px;
    border: 1px solid #bebebe;
    padding: 5px 7px 5px 7px;
}

.gomment > .gomment-input-section > button {
    margin-top: 5px;
    padding: 7px 15px 7px 15px;
    background-color: #00bbff;
    color: white;
    border: none;
}

.gomment > .gomment-input-section > input:focus {
    border: 1px solid #00bbff;
}

.gomment > .gomment-input-section > textarea {
    display: block;
    width: 100%;
    max-width: 500px;
    min-height: 100px;
    border: 1px solid #bebebe;
    padding: 5px;
}

.gomment > .gomment-input-section > textarea:focus {
    border: 1px solid #00bbff;
}

/////// Comments ////////

.gomment > .gomment-comments {
    display: inline-block;
    padding: 20px;
}

.gomment-comment {
    padding: 15px 0px 0px 20px;
}

.gomment-comment > .gomment-comment-date {
    display: inline;
    font-style: italic;
    font-size: 11px;
    margin-left: 5px;
}

.gomment-comment > .gomment-comment-author {
    display: inline;
    color: #00bbff;
    font-weight: bold;
    font-size: 12px
}

.gomment-comment > .gomment-comment-text {
    padding-top: 5px;
    font-size: 14px
}

.gomment-comment > .gomment-comment-children {
    margin-top: 5px;
    padding-left: 5px;
    border-left: 1px dashed #bebebe;
}
