.gomment {
    width: 100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial;
}

.gomment > .gomment-title {
    padding: 10px;
    border-bottom: 1px solid #bebebe;
    font-size: 15px;
    color: black;
    font-weight: 700;
}

.gomment > .gomment-new-comment-input-container > .gomment-new-comment {
    margin-top: 5px;
    padding: 7px 15px 7px 15px;
    background-color: #00bbff;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 20px;
}

.gomment-input-section {
    display: block;
    border: 1px solid #bebebe;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
    width: 600px;
    max-width: calc(100% - 20px);
}

.gomment-input-section > input {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 5px 0px 5px 0px;
    border: 1px solid #bebebe;
    padding: 5px 7px 5px 7px;
}

.gomment-input-section > button {
    margin-top: 5px;
    padding: 7px 15px 7px 15px;
    background-color: #00bbff;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.gomment-input-section > input:focus {
    border: 1px solid #00bbff;
}

.gomment-input-section > .gomment-reply {
    margin-top: 5px;
    font-size: 12px;
}

.gomment-input-section > .gomment-reply > .gomment-reply-recipient {
    font-weight: bold;
    color: #00bbff;
}

.gomment-input-section > textarea {
    display: block;
    width: 100%;
    max-width: 500px;
    min-height: 100px;
    border: 1px solid #bebebe;
    padding: 5px;
}

.gomment-input-section > textarea:focus {
    border: 1px solid #00bbff;
}

/////// Comments ////////

.gomment > .gomment-comments {
    display: inline-block;
    padding: 20px;
}

.gomment-comment {
    padding: 15px 0px 0px 20px;
    max-width: 700px;
}

.gomment-comment > .gomment-comment-date {
    display: inline;
    font-size: 12px;
    margin-left: 10px;
    color: #555555;
}

.gomment-comment > .gomment-comment-author {
    display: inline;
    color: black;
    font-weight: bold;
    font-size: 14px
}

.gomment-comment > .gomment-comment-text {
    padding-top: 5px;
    font-size: 14px
}

.gomment-comment > .gomment-comment-reply {
    display: inline-block;
    color: #002561;
    font-size: 12px;
    margin-top: 5px;
    cursor: pointer;
}

.gomment-comment > .gomment-comment-reply:hover {
    text-decoration: underline;
}

.gomment-comment > .gomment-comment-children {
    margin-top: 5px;
    padding-left: 5px;
    border-left: 5px solid #e0e0e0;
}

.gomment-comment > .gomment-comment-children > .gomment-show-more-depth-button {
    margin-top: 5px;
    color: #00bbff;
    background-color: transparent;
    border: none;
    font-weight:bold;
    cursor: pointer;
}

.gomment > .gomment-comments > .gomment-show-more-container > .gomment-show-more-button {
    margin-top: 5px;
    color: #00bbff;
    background-color: transparent;
    border: none;
    font-weight:bold;
    cursor: pointer;
}

.gomment > .gomment-comments > .gomment-show-more-container > .gomment-show-more-button:hover {
    text-decoration: underline;
}
