.gmnt {
    width: 100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial;
}

.gmnt__title {
    padding: 8px;

    border-bottom: 1px solid #bebebe;
    font-size: 15px;
    color: black;
    font-weight: 700;
}

.gmnt__input-section-container {
    padding-left: 8px;
}

.gmnt__new-comment-btn {
    padding: 8px 16px;
    margin-top: 16px;

    border: 1px solid #00bbff;
    background-color: transparent;
    color: #00bbff;
    cursor: pointer;
}

.gmnt__order-container {
    padding-left: 8px;
    padding-top: 16px;
    font-size: 13px;
    font-weight: bold;
}

.gmnt__order-select {
    background: none;
    border: none;
    color: #0bf;
}

.gmnt__loading-info {
    color: gray;
    text-align: center;
    padding: 16px 0;
    font-size: 0.9em;
}

.gmnt__comments {
    padding-left: 8px;
}

.gmnt__comments > .gmnt-c__children,
.gmnt__comments > .gmnt-c__show-more-container {
    border: none;
    padding-left: 0;
}

.gmnt__comments > .gmnt-c__children > .gmnt-c {
    padding-left: 0;
}

/* is = input section */
.gmnt-is {
    display: block;
    border: 1px solid #bebebe;
    margin-top: 8px;
    padding: 8px;
    width: 600px;
    max-width: calc(100% - 20px);
}

.gmnt-is input {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 5px 0px 5px 0px;
    border: 1px solid #bebebe;
    padding: 5px 7px 5px 7px;
}

.gmnt-is input:focus {
    border: 1px solid #00bbff;
}

.gmnt-is textarea {
    display: block;
    width: 100%;
    max-width: 500px;
    min-height: 100px;
    border: 1px solid #bebebe;
    padding: 5px;
}

.gmnt-is textarea:focus {
    border: 1px solid #00bbff;
}

.gmnt-is button {
    padding: 7px 15px 7px 15px;
    background-color: #00bbff;
    color: white;
    border: none;
    cursor: pointer;
}

.gmnt-is__error {
    display: block;
    padding: 8px 0px;
    font-size: 0.9em;
    color: #ff0c00;
}


/* c = comment */
.gmnt-c {
    padding-left: 16px;
    padding-top: 16px;
    max-width: 700px;
}

.gmnt-c--highlight {
    background-color: #ffff001c;
}

.gmnt-c__date {
    display: inline;
    font-size: 12px;
    margin-left: 10px;
    color: #555555;
}

.gmnt-c__author {
    display: inline;
    color: black;
    font-weight: bold;
    font-size: 14px
}

.gmnt-c__text {
    padding-top: 5px;
    font-size: 14px
}

.gmnt-c__reply {
    display: inline-block;
    color: #00bbff;
    font-size: 12px;
    margin-top: 5px;
    cursor: pointer;
}

.gmnt-c__reply:hover {
    text-decoration: underline;
}

.gmnt-c__children {
    border-left: 4px solid #e0e0e0;
}

.gmnt-c__children > .gmnt-is {
    margin-left: 16px;
}

.gmnt-c__show-more-container {
    border-left: 4px solid #e0e0e0;
    padding-left: 16px;
}

.gmnt-c__show-more-btn {
    padding: 0;
    margin-top: 8px;

    color: #00bbff;
    background-color: transparent;
    border: none;
    font-weight:bold;
    cursor: pointer;
}
