nav ul {
    padding-left: 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 4px;
}

td {
    padding: 0px 8px;
}

.gmt__comment {
    width: 450px;
}

.gmt__comment textarea {
    width: 100%;
}

.gmt__row {
    transition: background-color 0.5s ease;
}

.gmt__row.loading {
    background-color: #fff1c5;
}
